<div class="w-full flex justify-between items-center">
    <div>
        <h1 class="text-2xl font-bold">Categories</h1>
        <div>Add and Delete Categories</div>
    </div>
    <button class="btn btn-primary" routerLink="/admin/categories/create">
        create Category
    </button>
</div>
<div class="border-t w-full border-solid border-gray-300 mt-3 mb-5">
    @if(categoryQuery.isSuccess() && categoryQuery.data()!.content.length!==0){
    <div class="overflow-x-auto border border-gray-300  rounded-md">
        <table class="table table-lg table-zebra">
            <thead class="border-gray-300">
                <tr class="border-gray-300">
                    <th class="">#</th>
                    <th class="">Public Id</th>
                    <th class="">Name</th>
                    <th class="">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (category of categoryQuery.data()!.content; track category.publicId; let i = $index) {
                <tr class="border-gray-300">
                    <td>{{i+1}}</td>
                    <td class="text-sm">{{category.publicId}}</td>
                    <td class="text-sm">{{category.name}}</td>
                    <td class="btn btn-secondary btn-sm mt-3 me-2" *ngIf="category.publicId"
                        (click)="editCategory(category.publicId)">Edit</td>
                    <td class="btn btn-secondary btn-sm mt-3" *ngIf="category.publicId"
                        (click)="deleteCategory(category.publicId)">Delete</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
   }@else if(categoryQuery.isPending()){
    <div class="flex  w-full justify-center">
        <span class="loading loading-spinner loading-lg"></span>
    </div>
    }@else if(categoryQuery.isError()){
    <div class="alert alert-error">
        <span class="">Failed to Load Categories..</span>
    </div>
    }@else if(categoryQuery.data()!.content.length===0){
    <div role="alert" class="alert alert-info">
        <fa-icon [icon]="['fas','circle-exclamation']" size="2x" ></fa-icon>
        <span class="">No Category Created Yet </span>
    </div>
    }
</div>