<div class="w-full flex justify-between items-center">
    <div>
        <h1 class="text-2xl font-bold">Products</h1>
        <div>Add and Delete Products</div>
    </div>
    <div>
    <button class="btn btn-primary me-5" routerLink="/admin/products/create">
        create Product
    </button>
    <button class="btn btn-primary" routerLink="/admin/categories/create">
        create Category
    </button>
    </div>
</div>
<div class="border-t w-full border-solid border-gray-300 mt-3 mb-5">
    @if(productQuery.isSuccess() && productQuery.data()!.content.length!==0){
    <div class="overflow-x-auto border border-gray-300  rounded-md">
        <table class="table table-lg table-zebra">
            <thead class="border-gray-300">
                <tr class="border-gray-300">
                    <th>#</th>
                    <th class="min-w-40">Name</th>
                    <th class="">Brand</th>
                    <th class="">Color</th>
                    <th class="">Price</th>
                    <th class="">Nb in stock</th>
                    <th class="">Featured</th>
                    <th class="">Category</th>
                    <th class="">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (product of productQuery.data()!.content; track product.publicId; let i = $index) {
                <tr class="border-gray-300">
                    <td>{{i+1}}</td>
                    <td class="text-sm max-w-20  overflow-ellipsis whitespace-nowrap overflow-hidden"
                    [routerLink]="['/products', product.publicId]"
                    >
                        {{product.publicId}}
                    </td>

                    <td class="text-sm">{{product.brand}}</td>
                    <td class="text-sm">
                        <div class="h-5 w-5 rounded-full" [ngStyle]="{'background-color':product.color}"></div>
                    </td>
                    <td class="text-sm">{{product.price}}</td>
                    <td class="text-sm">{{product.nbInStock}}</td>
                    <td class="text-sm">{{product.featured ? 'Yes' : 'No'}}</td>
                    <td class="text-sm">{{product.category.name || 'No Category'}}</td>
                    <td class="btn btn-secondary btn-sm mt-3" *ngIf="product.publicId"
                        (click)="deleteProduct(product.publicId)">Delete</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
   }@else if(productQuery.isPending()){
    <div class="flex  w-full justify-center">
        <span class="loading loading-spinner loading-lg"></span>
    </div>
    }@else if(productQuery.isError()){
    <div class="alert alert-error">
        <span class="">Failed to Load Products..</span>
    </div>
    }@else if(productQuery.data()!.content.length===0){
    <div role="alert" class="alert alert-info">
        <fa-icon [icon]="['fas','circle-exclamation']" size="2x" ></fa-icon>
        <span class="">No Product  Created Yet </span>
    </div>
    }
</div>